<div class="ordercontainer">
    <div class="allorders">
        <p class="mainheader">OUR MENU </p>
    
    <div>
        <div>
                <% if (typeof menus != 'undefined'){  %> 
                    <%	menus.forEach((menu) =>{ %>
                    <div >
                <p > Menu : <%-menu.name %></p>
                <p >Price : <%- menu.price %></p>
                <p >Status : <%-menu.status %></p>
                <p >remarks : <%-menu.remarks %></p>
         
                <div class="dropdown">
                    <button class="dropbtn">
                      <i class="bi bi-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/menus/add"   >Add</a>
                <a href="/menus/edit/<%=menu._id %>"    style="color: green;" >Edit</a>
                <a href="/menus/delete/<%=menu._id %>"   style="color: red;">Delete</a> 
                <a href="/orders/add/<%=menu._id %>"   style="color: blue;">Order</a>
                  </div>

            </div>
                    </div>
           
                <% }) %>
                <%}%>
            </div>
        </div>
        </div>
    </div>





    <style>
.menu{
    color: black;
}
        h1{
            color: black;
        }
    </style>